body {
  background-color: #003D5B;
}

p{
  color: white;
  text-align: center;
  font-family: 'Maven Pro', 'sans-sarif';
  font-size: 1.35em;
  background-image: url('https://i.imgur.com/YvtsAQv.jpg');
}

.cardtext {
  color: white;
  text-align: center;
}

/*Background Image Styling for header*/
#head {
  background-image: url('https://i.imgur.com/TnZ6aNX.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: center;
}

/*Font Styling for header*/
.king {
  font-family:'Bungee', cursive;
  font-size: 5em;
  text-align: center;
  border: 7px solid #0D0221;
  color: #332A40;
  text-shadow: 4px 2px #0D0221;
  letter-spacing: 2.5px;
}

/*Styling for Patch Banner and Headline Slideshow*/
.paspansion{
  padding-top: 1em;
  padding-bottom: 1em;
  font-family:'Rubik', sans-serif;
  text-align: center;
  color: #5D30F2;
  background-color: #DABFFF;
  letter-spacing: 3px;
  font-weight: bold;
}

/*Styling and Positioning for Class Picture and Headings*/
.classheady {
  background-image: url('https://i.imgur.com/psmMSc4.jpg');
  background-size: cover;
  background-position: center;
  border: 7px solid #0D0221;
  opacity: 0.75;
  height: 108px;
}
.classhead {
  padding-top: .5em;
  font-family:'Cabin', sans-serif;
  font-size: 2.5em;
  color: #00bcd4;
  letter-spacing: 2px;
  font-weight: bold;
}

#classpic {
  padding-top: 2.5em;
  display: block;
  margin: auto;
  width: 75%;
}

/*CSS for input form and submit button*/
input {
  width: 75%;
  padding: 12px 15px;
  margin: 8px 0;
}

input[type=text]{
  background-color: white;
  color: black;
  border: 2px solid #00e676;
  border-radius: 3px;
}

input[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

textarea{
  background-color: white;
  color: black;
  border: 2px solid #00e676;
  border-radius: 3px;
  width: 75%;
  padding: 12px 15px;
  margin: 8px 0;
}

textarea[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

.subbutt {
  border: 2px solid #00e676;
  border-radius: 3px;
  background-color: #c6ff00;
  font-size: 2em;
}
