
/*General Tag CSS*/
body {
  background-color: #0D0221;
}


/*Header and Slideshow CSS*/
.king {
  font-size: 5.25em;
  font-family:'Contrail One', cursive;
  color: #AAFFE5;
  text-align: center;
}

#headslide {
  position: relative;
  display: block;
  margin: auto;
  width: 480px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #00e676;
  border-radius: 8px;
  margin: 5em 5em 2em 5em;
}


#divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #00e676;
  border-radius: 8px;
  margin: 3em 4em 6em 4em;
}


/*Styling for Section Buttons*/
ul {
  padding: 2em 7em 10em 7em;
}

a {
  text-decoration: none;
  color: #AAFFE5;
}

a:hover {
  color: #0D0221;
  cursor: pointer;
  text-decoration: none;
}

li {
  display: block;
  margin: 30px 0;
  color: #AAFFE5;
  background-color: #04724D;
  font-family: 'Contrail One', cursive;
  letter-spacing: .5px;
  font-size: 2em;
  border: 3px solid #00e676;
  border-radius: 9px;
  text-align: center;
}

li:hover {
  background-color: #B8DBD9;
}

p {
  padding: 2em 2em .5em 2em;
  color: #AAFFE5;
  text-align: center;
  font-family: 'Contrail One', cursive;
  font-size: 1.50em;
}


/*Styling and Positioning for Class Picture and Headings*/
.classheady {
  background-image: url('https://i.imgur.com/klYMuiv.jpg');
  background-size: cover;
  background-position: center;
  border-top: 4px solid #00e676;
  border-bottom: 4px solid #00e676;
  border-radius: 4px;
  height: 110px;
  width: auto;
}

.classhead {
  font-family: 'Contrail One', cursive;
  font-size: 2.1em;
  text-align: center;
  margin-top: 8px;
  margin-right: 8px;
  color: #AAFFE5;
  text-shadow: 5px 3px #0D0221;
  letter-spacing: .5px;
  font-weight: bold;
}

#cardhead {
  float: bottom;
  font-size: 2em;
  background-color: #F4F4F9;
}

#classpic {
  height: 350px;
  width: 480px;
}



/*Picture Text CSS*/
.cardtext {
  display: block;
  height: auto;
  vertical-align: bottom;
  text-align: left;
  color: #AAFFE5;
  font-family: 'Contrail One', cursive;
  font-size: 1.3em;
  letter-spacing: 1.25px;
  margin: 0 0 7em 0;
}

.cardtextmid {
  padding-bottom: 4em;
}

.cardtextbottom {
  padding-bottom: 12em;
}


/*CSS for input form and submit button*/
h1{
  text-align: center;
  font-size: 2em;
  padding-top: 3em;
  font-family: 'Contrail One', cursive;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 3px;
}

h2{
  text-align: center;
  font-size: 2em;
  padding-top: .5em;
  font-family: 'Contrail One', cursive;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 3px;
}

#formp {
  font-family: 'Contrail One', cursive;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 1px;
}

fieldset {
  border: 3px solid #0D0221;
}

form {
  margin: 60px 60px;
  background-color: #0D0221;
}

legend {
  color: #E8E9F3;
  font-family: 'Contrail One', cursive;
  font-size: 1.5em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

label {
  color: #E8E9F3;
  font-family: 'Contrail One', cursive;
  font-size: 1.25em;
}

input {
  width: 90%;
  padding: 12px 15px;
  margin: 25px 8px;
}

input:hover {
  cursor: text;
}

input[type=text] {
  background-color: white;
  color: black;
  border: 3px solid #00e676;
  border-radius: 3px;
}

input[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

textarea{
  background-color: white;
  color: ;
  border: 3px solid #00e676;
  border-radius: 3px;
  width: 90%;
  padding: 30px 15px;
  margin: 25px 8px;
}

textarea[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

/*Submit Button css and positioning*/
.subbutt {
  display: block;
  margin: auto;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  color: #AAFFE5;
  background-color: #022B3A;
  font-family: 'Contrail One', cursive;
  font-size: 1.75em;
  letter-spacing: 3px;
  border: 4.5px solid #00e676;
  border-radius: 15px;
  text-align: center;
}

.subbutt:hover {
  color: #0D0221;
  background-color: #AAFFE5;
  cursor: pointer;
  border: 5px solid #00e676;
}
