body {
  background-color: #003D5B;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 10px solid #022B3A;
  margin: 5em 5em 2em 5em;
  padding: 0;
}

#divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 10px solid #0D0221;
  margin: 4em 4em 4em 4em;
  padding: 0;
}

/*Styling for Section Buttons*/
ul {
  padding: 2em 7em 20em 7em;
}

li {
  display: block;
  margin: 10px 5px;
  color: #AAFFE5;
  background-color: #022B3A;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  letter-spacing: 2.5px;
  border: 7px solid #0D0221;
  border-radius: 15px;
  text-align: center;
}

li:hover {
  color: #0D0221;
  background-color: #AAFFE5;
  cursor: pointer;
}

p {
  padding: 2em 2em .5em 2em;
  color: #89A894;
  text-align: center;
  font-family: 'Archivo Black', 'sans-sarif';
  font-size: 1.35em;
}

.cardtext {
  color: white;
  text-align: center;
}

/*Background Image Styling for header*/
#head {
  background-image: url('https://i.imgur.com/TnZ6aNX.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 300px;
  border: 7px solid #0D0221;
}

/*Font Styling for header*/
.king {
  font-family:'Poppins', sans-serif;
  font-size: 5em;
  text-align: center;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 2.5px;
}

/*Styling and Positioning for Class Picture and Headings*/
.classheady {
  background-image: url('https://i.imgur.com/psmMSc4.jpg');
  background-size: cover;
  background-position: center;
  border: 7px solid #0D0221;
  height: 125px;
  width: auto;
  margin-left: 15px;
}
.classhead {
  font-family:'Kanit', sans-serif;
  font-size: 2.5em;
  color: #00bcd4;
  text-shadow: 5px 3px #0D0221;
  letter-spacing: 1px;
  font-weight: bold;
}

#classpic {
  padding-top: ;
  margin-left: 2px;
  height: 420px;
  width: 95%;
  border: 9px solid #022B3A;
  border-radius: 8px;
}

#rightclass {
  float: right;
  padding-top: ;
  margin-left: 2px;
  height: 420px;
  width: 95%;
  border: 10px solid #022B3A;
  border-radius: 8px;

}

/*Picture Text CSS*/
.cardtext {
  background-color: #2C423F;
  color: #EAE6E5;
}

/*CSS for input form and submit button*/
h1{
  text-align: center;
  font-size: 2em;
  padding-top: 3em;
  font-family: 'Contrail One', cursive;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 3px;
}

h2{
  text-align: center;
  font-size: 2em;
  padding-top: .5em;
  font-family: 'Contrail One', cursive;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 3px;
}

#formp {
  font-family: 'Contrail One', cursive;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 1px;
}

fieldset {
  border: 3px solid #0D0221;
}

form {
  margin: 60px 60px;
  background-color: #0D0221;
  border: 3px solid #00e676;
}

legend {
  color: #E8E9F3;
  font-family: 'Contrail One', cursive;
  font-size: 1.5em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

label {
  color: #E8E9F3;
  font-family: 'Contrail One', cursive;
  font-size: 1.25em;
}

input {
  width: 90%;
  padding: 12px 15px;
  margin: 25px 8px;
}

input:hover {
  cursor: text;
}

input[type=text] {
  background-color: white;
  color: black;
  border: 3px solid #00e676;
  border-radius: 3px;
}

input[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

textarea{
  background-color: white;
  color: ;
  border: 3px solid #00e676;
  border-radius: 3px;
  width: 90%;
  padding: 30px 15px;
  margin: 25px 8px;
}

textarea[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

/*Submit Button css and positioning*/
.subbutt {
  display: block;
  margin: auto;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  color: #AAFFE5;
  background-color: #022B3A;
  font-family: 'Poppins', sans-serif;
  font-size: 1.75em;
  letter-spacing: 3px;
  border: 4.5px solid #00e676;
  border-radius: 15px;
  text-align: center;
}

.subbutt:hover {
  color: #0D0221;
  background-color: #AAFFE5;
  cursor: pointer;
  border: 5px solid #00e676;
}
