body {
  background-color: #E2FEFF;
}

/*Header and Slideshow CSS*/
.king{
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #173C11;
  background-color: #EFFBFF;
  border-top: 4px solid #59B3B4;
  border-bottom: 4px solid #59B3B4;
  font-size: 3.5em;
  text-align: right;
}

#headslide {
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  border: 2px solid #E1E5CE;
  border-radius: 7px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Styling for Section Buttons*/

ul {
  padding: 2em 3.5em 2em 3.5em;
  background-color: #EFFBFF;
  margin: 1em 15px 8em 15px;
  border-radius: 9px;
}

a {
  text-decoration: none;
  color: #173C11;
}

a:hover {
  color: #AAFFE5;
  cursor: pointer;
  text-decoration: none;
}

li {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  background-color: #AAFFE5;
  background: -webkit-linear-gradient(left top, #AAFFE5, #B18FCF);
  background: -o-linear-gradient(bottom right, #AAFFE5, #B18FCF);
  background: -moz-linear-gradient(bottom right, #AAFFE5, #B18FCF);
  background: linear-gradient(to bottom right, #AAFFE5, #B18FCF);
  list-style: none;
  font-size: 1.85em;
  text-align: center;
  border: 4px solid #59B3B4;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 15px;
}

li:hover {
  padding-right: 25px;
}

li:hover::after {
  opacity: 1;
  right: 0;
}


/*Intro main paragraph CSS and Divider Line*/

#intro {
  padding: 2em 2em .5em 2em;
  color: #020C38;
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 1.50em;
  text-shadow: 1px 1px #7C4C02;
}

#divider {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 3px solid #59B3B4;
  border-radius: 8px;
  margin: 3em 4em 8em 4em;
}


/*Styling and Positioning for Class Picture and Headings*/

.classheady {
  background-image: url('https://i.imgur.com/klYMuiv.jpg');
  background-size: cover;
  background-position: center;
  height: 110px;
  width: auto;
  border-top: 3px solid #59B3B4;
  border-bottom: 3px solid #59B3B4;
}

.classhead {
  font-family: 'Play', sans-serif;
  color: #E2FEFF;
  font-size: 1.85em;
  text-align: center;
  padding-top: 12px;
  text-shadow: 5px 3px #0D0221;
  letter-spacing: .5px;
  font-weight: bold;
}

#cardhead {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: .5em 0 .5em 0;
  color: #173C11;
  background-color: #EFFBFF;
  border-top: 4px solid #59B3B4;
  border-bottom: 4px solid #59B3B4;
  float: bottom;
  font-size: 2.5em;
  background-color: #F4F4F9;
}

#classpic {
  border-bottom: 4px solid #59B3B4;
  margin-bottom: 20px;
  height: 350px;
  width: 100%;
}

.picbutt {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  color: #173C11;
  background-color: #AAFFE5;
  background: -webkit-linear-gradient(left top, #AAFFE5, #B18FCF);
  background: -o-linear-gradient(bottom right, #AAFFE5, #B18FCF);
  background: -moz-linear-gradient(bottom right, #AAFFE5, #B18FCF);
  background: linear-gradient(to bottom right, #AAFFE5, #B18FCF);
  font-size: 1.9em;
  text-align: center;
  border: 3px solid #173C11;
  border-radius: 20px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 5px 10px 10px 10px;
}

.picbutt:hover {
  padding-right: 25px;
  padding-left: 25px;
  color: #AAFFE5;
  cursor: pointer;
}

.picbutt:hover::after {
  opacity: 1;
  right: 0;
}



/*Picture Text CSS*/
.cardtext {
  display: block;
  height: auto;
  vertical-align: bottom;
  text-align: center;
  color: #173C11;
  font-family: 'Abel', cursive;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1.25px;
  margin: 2.5em 0 5em 0;
}

/*CSS for input form and submit button*/

h1{
  text-align: center;
  font-size: 2.5em;
  padding-top: 3em;
  font-family: 'Abel', sans-serif;
  color: #173C11;
  letter-spacing: 3px;
}

h2{
  text-align: center;
  font-size: 2em;
  padding-top: 2em;
  font-family: 'Abel', sans-serif;
  color: #173C11;
  letter-spacing: 3px;
}

#formp {
  font-family: 'Play', sans-serif;
  color: #173C11;
  letter-spacing: 1px;
}

fieldset {
  border: 1px solid #E2FEFF;
}

form {
  margin: 60px 60px;
}

legend {
  color: #173C11;
  font-family: 'Play', sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
}

label {
  color: #173C11;
  font-family: 'Play', sans-serif;
  font-size: 1.25em;
}

input {
  width: 90%;
  padding: 12px 15px;
  margin: 25px 8px;
}

input:hover {
  cursor: text;
}

input[type=text] {
  background-color: white;
  color: black;
  border: 3px solid #00e676;
  border-radius: 3px;
}

input[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

textarea{
  background-color: white;
  color: ;
  border: 3px solid #00e676;
  border-radius: 3px;
  width: 90%;
  padding: 30px 15px;
  margin: 25px 8px;
}

textarea[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

/*Submit Button css and positioning*/
#subbutt {
  display: block;
  margin: auto;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  color: #AAFFE5;
  background-color: #022B3A;
  font-family: 'Abel', sans-serif;
  font-size: 1.75em;
  letter-spacing: 4px;
  border: 4.5px solid #00e676;
  border-radius: 15px;
  text-align: center;
}

#subbutt:hover {
  color: #0D0221;
  font-weight: bold;
  letter-spacing: 6px;
  background-color: #AAFFE5;
  cursor: pointer;
  border: 5px solid #00e676;
}

/*Styling for footer*/
footer {
  font-family: 'Play', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-right: .5em;
  background-color: #AAFFE5;
}


/*Media Query for Ipad*/
@media only screen and (min-width: 768px) {

  #headslide {
    height: 400px;
  }

  #classpic {
    height: 500px;
  }
}

/*Media Query for Desktop and Laptop*/

@media only screen and (min-width: 1224px) {

  #headslide {
    height: 300px;
    width: 50%;
    border-top: 4px solid #59B3B4;
    border-bottom: 4px solid #59B3B4;
    border-right: 4px solid #59B3B4;
  }

  .king{
    border-top: 4px solid #59B3B4;
    border-bottom: 4px solid #59B3B4;
    border-left: 4px solid #59B3B4;
    border-radius: 8px;
    font-size: 4.5em;
    text-align: right;
    margin-left: 15%;
  }

  #intro {
    padding: 2em 2em 1em 2em;
    color: #020C38;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 1.85em;
    text-shadow: 1px 1px #7C4C02;
  }

  #divider {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 3px solid #59B3B4;
    border-radius: 8px;
    margin: 3em 4em 8em 4em;
  }

  ul {
    display: inline-block;
    margin-left: 8em;
    margin-bottom: 10em;
    background-color: #E2FEFF;
  }

  li {
    float: left;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
  }

  #cardhead {
    width: 65%;
    border: 4px solid #59B3B4;
    border-radius: 10px;
    margin-top: 13em;
  }

  #classpic {
    height: 500px;
    width: 65%;
    border: 4px solid #59B3B4;
    border-radius: 10px;
    float: right;
  }

  .cardtext {
    margin: 5px 10px 0 10px;
    font-size: 1.5em;
  }

  footer {

  }
}
