body {
  background-color: #003D5B;
}

/*Styling for Patch Banner*/
ul {
  padding: 1em 2em 5em 2em;
}

li {
  display: block;
  margin: 10px 5px;
  color: #AAFFE5;
  background-color: #0D0221;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  letter-spacing: 2.5px;
  border: 7px solid #0D0221;
  border-radius: 15px;
  text-align: center;
}

li:hover {
  color: #0D0221;
  background-color: #AAFFE5;
  cursor: pointer;
}

p{
  color: #89A894;
  text-align: center;
  font-family: 'Archivo Black', 'sans-sarif';
  font-size: 1.35em;
}

.cardtext {
  color: white;
  text-align: center;
}

/*Background Image Styling for header*/
#head {
  background-image: url('https://i.imgur.com/TnZ6aNX.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: center;
}

/*Font Styling for header*/
.king {
  font-family:'Poppins', sans-serif;
  font-size: 5em;
  text-align: center;
  border: 7px solid #0D0221;
  color: #AAFFE5;
  text-shadow: 7px 2px #0D0221;
  letter-spacing: 2.5px;
}

/*Styling and Positioning for Class Picture and Headings*/
.classheady {
  background-image: url('https://i.imgur.com/psmMSc4.jpg');
  background-size: cover;
  background-position: center;
  border: 7px solid #0D0221;
  height: 125px;
  width: 700px;
}
.classhead {
  font-family:'Kanit', sans-serif;
  font-size: 2.5em;
  color: #00bcd4;
  text-shadow: 5px 3px #0D0221;
  letter-spacing: 1px;
  font-weight: bold;
}

#classpic {
  padding-top: 2.5em;
  margin: auto;
  width: 75%;
  border-radius: 8px;
}

/*Picture Text CSS*/
.cardtext {
  background-color: #2C423F;
  color: #EAE6E5;
}

/*CSS for input form and submit button*/
input {
  width: 75%;
  padding: 12px 15px;
  margin: 8px 0;
}

input[type=text]{
  background-color: white;
  color: black;
  border: 2px solid #00e676;
  border-radius: 3px;
}

input[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

textarea{
  background-color: white;
  color: black;
  border: 2px solid #00e676;
  border-radius: 3px;
  width: 75%;
  padding: 12px 15px;
  margin: 8px 0;
}

textarea[type=text]:focus {
  background-color: #263238;
  color: #00bcd4;
}

.subbutt {
  border: 2px solid #00e676;
  border-radius: 3px;
  background-color: #c6ff00;
  font-size: 2em;
}
